body {
  margin: 0 auto;
}

.jacket {
  background-color: #222;
  background-image: url(..//images/runnerbeans.jpg);
  background-size: 1200px auto;
  color: white;
  height: 700px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

@media screen and (orientation: portrait) {
	body {
		background-size: auto 100%;
	}
}

.jacket__author, .jacket__title {
  font-size: 40px;
}
.jacket__author {
  font-family: Arial, 'sans-serif';
  position: relative;
  top: 118px;
}
.jacket__band {
  background-color: rgba(255,255,255,0.9);
  background-image: url("..//images/bee.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  height: 80px;
  position: relative;
  top: 237px;
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

.jacket__band::before, .jacket__band::after {
  color: #222;
  font-family: Arial, 'sans-serif';
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 5px;
  position: relative;
  text-transform: uppercase;
  top: 33%;
}
.jacket__band::before {
  content: "Honor";
  left: -7em;
}
.jacket__band::after {
  content: "Cowen";
  left: 7em;
}
.jacket__title {
  top: 325px;
  position: relative;
  font-family: arial;
}
